<h1> Reviews for <%= @movie.title %> </h1>

<ul>
  <% @reviews.each do |review| %>
    <li>
      <%= render 'shared/stars', percent: stars_as_percent(review) %> by <%= review.name %>:
      <%= review.comment %>
    </li>
  <% end %>
</ul>
