<!DOCTYPE html>
<html>
<head>
  <title>Flix</title>
  ...
</head>
<body>

  <%= render 'layouts/header' %>

  <div class="content">
    <%= yield %>
  </div>

  <%= render 'layouts/footer' %>

</body>
</html>
